{# templates/home/index.html.twig #}
{% extends 'layout/project_layout.html.twig' %}

{% set container_margin = false %} {# Pas de mt-4 ici #}

{% block title %}Bienvenue sur Oboba{% endblock %}

{% block page_content %}
    <div class="home-container">
        <img src="{{ asset('images/logo.png') }}" alt="Logo Oboba" class="logo">
        <a href="{{ path('login') }}" class="btn btn-primary btn-lg">S'identifier</a>
    </div>
{% endblock %}
